<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/">ANASAYFA</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/hakkimizda">HAKKINDA</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/kitaplar">KİTAPLAR</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/yazarlar">Yazarlar</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/sahsiyetler">KÜLTÜR MİRASI</a>
</li>
<!-- <li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/blog">Haberler</a>
</li> -->
<li class="nav-item">
    <a class="nav-link" target="_blank" href="{{site.katalogurl}}">KATALOG</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/iletisim">İLETİŞİM</a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://mediterranean.agency/contact">FOREIGN RIGHTS</a>
</li>