<!DOCTYPE html>
{% if page.layout == 'post' %}
    <html lang="{{page.language}}">
{%else %}
    <html lang="{{site.language}}">
{% endif %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{page.title}} | {{site.name}}</title>

    {% seo %}

    <link rel="alternate" type="application/rss+xml" href="{{site.baseurl}}/feed.xml" />

    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}/{{site.favicon}}">
    
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/manifest.json">

    <!-- Font Awesome Icons (Local) -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font/fontawesome/css/all.min.css">
    
    <!-- Lora Font (Local) -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font/lora/style.css">

    <!-- Vogun Font (Başlıklar, Menüler, Arayüz) -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font/vogun/style.css">

    <!-- Minion Pro Font (İçerik, Paragraflar) -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/font/minion-pro/style.css">

    <!-- Bootstrap Modified -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">

    <!-- Theme Stylesheet -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/theme.css">

    <!-- Tiny Slider -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/tiny-slider.css">

    <!-- Jquery (Local) -->
    <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>

    {% include tracking-header.html %}


</head>



<body class="{% if page.url == "/" %} homefirstpage {% endif %}">

    <!-- Navbar -->
    <nav id="MagicMenu" class="topnav navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.baseurl }}/index.html"><strong><img src="{{site.baseurl}}/assets/images/logo-mavi-yatay.svg" alt="{{site.name}}" style="max-height: 8vh;"></strong></a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto d-flex align-items-center flex-grow-1 justify-content-between">
               {% include menu-header.html %}
            </ul>
            <ul class="navbar-nav ml-auto d-flex align-items-center justify-content-end">
                {% include search-lunr.html %}
            </ul>
        </div>
    </div>
    </nav>

    <!-- Search Results -->
    <div id="lunrsearchresults">
        <ul class="mb-0"></ul>
    </div>

    <!-- Content -->
    <main role="main" class="site-content">
        {{ content }}
    </main>


    <!-- Scripts: popper, bootstrap (Local), theme, lunr -->
    <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>

    <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

    <script src="{{site.baseurl}}/assets/js/theme.js"></script>


    {% include footer.html %}

    {% include tracking-footer.html %}

    {% if site.lazyimages == "enabled" %}
    <script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
    {% endif %}

    {% if page.layout == 'post' %}
    <script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
    {% endif %}


</body>

</html>
